.navbar {
  font-family: 'Impact', Arial;
  font-size: @font-size-h3;
  margin-bottom: 10px;
  text-transform: uppercase;
  .container {
    padding: 0;
  }
}

.second-menu {
  height: 50px;
  background-color: @gray;
}