
.top-menu {
  .impact-heading;
  margin-bottom: 15px;
  .container {
    padding-left: 0;
  }
}

.second-menu {
  .impact-heading(@size: 16px);
  margin-bottom: 0;
  .navbar-collapse {
    padding: 0;
  }
  li {
    display: table;
    height: 50px;
    max-width: 130px;
    text-align: center;

    a {
      padding: 5px;
      display: table-cell;
      vertical-align: middle;
      // line-height: 50px;

    }
  }
}

