.impact-heading(@size: 18px; @color: @gray) {
  font-family: @impact;
  font-size: @size;
  color: @color;
  text-transform: uppercase;
}
.padding-block {
  padding: 15px;
}

.gray-light {
  color: @gray-light;
}