.impact-heading(@size: 18px; @color: @gray) {
  font-family: @impact;
  font-size: @size;
  color: @color;
  text-transform: uppercase;
}
.padding-block {
  padding: 15px;
}

.gray-light {
  color: @gray-light;
}

.gray-gradient {
  background: linear-gradient(to top, @gray-lighter, white);
}

.bordered {
  border: 1px solid @gray-light;
}

.brand-primary {
  color: @brand-primary;
}

.gray-light {
  color: @gray-light;
}

.uppercase {
  text-transform: uppercase;
}