.header-ul {
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  ul {
    // font-size: 10px;
    padding-left: 15px;
    margin-bottom: 0;
  }
}

.phone-number {
  color: @gray-light;
  margin-top: 35px;
  margin-bottom: 25px;
  span {
    font-family: @impact;
    font-size: 24px;
    &.primary {
      color: @brand-primary;
    }
  }  
}

.header-price {
  h3 {
    color: @gray;
    margin: 0;
    margin-top: 43px;
    margin-bottom: 25px;
  }
}

.search {
  height: 40px;
  margin-right: -15px;
  padding: 6px;
  background-color: @gray-light;
  label {
    margin-left: 15px;
    margin-right: 15px;
    // padding-top: 5px;
    font-family: @impact;
    font-size: 18px;
  }
  input {
    width: 70%;
    &:focus {
      outline: none;
    }
  }
  button {
    position: absolute;
    right: -20px;
    top: 0px;
    padding: 0;
    height: 40px;
    width: 38px;
    background: url(images/search.png);
    border: none;
    z-index: 1000;
  }
}
.buy {
  height: 40px;
  margin-left: -15px;
  background-color: @brand-primary;
  color: white;
  h3 {
    margin: 0;
    padding-top: 10px;
  }

}